{# Carrousel contenant la liste des films #}
<h1 class="text-center p-3">
	La présentation de tous nos films</h1>
<div class="container   ">
	<div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
		<div class="carousel-inner justify-content-around  ">
			<div class="container row">
				{% if movies is empty %}
					<div class="text-center pt-3">Aucun film ne correspond à votre recherche</div>
				{% else %}
					{% for item in movies %}
						<div class="carousel-item grid {{ loop.first ? 'active' : '' }}" data-bs-interval="4000">
							<div class="container d-flex">
								<div class="container">
									<img src="{{item.getPoster}}" class="col-8 w-10 mb-5 shadow bg-body-tertiary rounded" alt="poster de film">
								</div>
								<div class="col-5 ms-auto">
									<h3 class="py-3">
										{{item.getMovieId}} - {{item.getTitle}}
									</h3>
									<p>
										Réalisé en
											<span class="fw-bold">
												{{item.getYear}}
											</span>
										par
											<span class="fw-bold">
												{{item.getDirector}}
											</span>
										avec <br>
											{% for roles in item.getRoles %}
												<span class="fst-italic text-decoration-underline">
													{{roles.getActor.getSurname}}
													{{roles.getActor.getName}}
												</span>
											dans le rôle de
												<span class="fw-bold">
												{{roles.getCharacter}}
												</span><br>
											{% endfor %}
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>